body {
  margin: 0;
  background-color: #000000;
}

#login_form {
  height: 99.7vh;
  width: 43vw;
  position: absolute;
  right: 0vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 13px;
  background: #0b192c;
  box-shadow: 5px 5px 10px #091525, -5px -5px 10px #0d1d33;
}
#title {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  top: 38vh;
  position: absolute;
  left: 17vw;
  width: 15em;
  color: white;
  font-size: 2em;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
}
.handlers {
  width: 22vw;
  padding: 1em;
  margin: 3em 0em;
  backdrop-filter: blur(2px) saturate(200%);
  -webkit-backdrop-filter: blur(2px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: #ff6500;
}

button.handlers:hover {
  cursor: pointer;
 padding: 1em 3em;
cursor: pointer;
  backdrop-filter: blur(15px) saturate(200%);
    -webkit-backdrop-filter: blur(15px) saturate(200%);
    background-color: rgba(255, 101, 0, 0.65);
    /* border-radius: 12px; */
    /* border: 1px solid rgba(255, 255, 255, 0.125); */
    color: #000000;
    /* font-weight:bold; */
}
input.handlers:focus {
  border: none;
  outline: none;
}
button.handlers {
  transition-duration: 0.2s;
  border-radius: 14px;
   padding: 1em 3em;
  border: 5px solid #ff6500;
  background: none;
  color: #ff6500;
}
