body {
  background-color: #1e3e62;
  margin: 0;
}
#ai {
  position: absolute;
  height: 9em;
  width: 23em;
  border: 1px solid black;
  right: 79vw;
}
#prompt_bar {
  position: fixed;
  left: 32%;
  top: 94%;
  width: 49em;
  height: 3em;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(11, 25, 44, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: #ff6500;
  resize: none;
  overflow: hidden;
}
#prompt_bar:focus {
  outline: none;
}
#submit {
  position: fixed;
  left: 68vw;
  top: 93.3vh;
  width: 4em;
  border-radius: 100%;
  height: 4em;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(11, 25, 44, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: white;
}
#human_message {
  display: inline-block;
  max-width: 20vw;
  padding: 0.75em 1em;
  margin: 0.5em 0;
  color: white;
  background-color: #0b192c;
  border-radius: 0.5em;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: #ff6500;
  font-size: 1.2em;
  font-weight: bolder;
}
#ai_message {
  display: inline-block;
  position: relative;
  font-weight: bolder;
  max-width: 20vw;
  padding: 0.75em 1em;
  margin: 0.5em 0;
  color: white;
  background-color: #0b192c;
  border-radius: 0.5em;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  right: -90em;
  color: #ff6500;
  font-size: 1.2em;

}
li {
  list-style: none;
  margin: 1em;
}
